@model IEnumerable<ZeroHunger.Ef.Models.CollectRequests>

@{
    ViewBag.Title = "RequestList";
}

<h2>RequestList</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FoodName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxPresDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CollectionDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FoodName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxPresDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CollectionDate)
        </td>
        <td class="btn btn-default">
            @Html.ActionLink("Accept And Assign", "AssignEmployee", new { id = item.CrId })
        </td>
    </tr>
}

</table>
